body {
    margin: 0;
    padding: 0;
    /* background-color: #151515; */
}


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background: #8c52ff;
    /* border-radius: 5px; */
}

::-webkit-scrollbar-thumb:hover {
    background: #8c52ff;
}

.textMainContainer {
    background-color: #151515;
    font-family: 'poppins', sans-serif;
    padding: 45px 55px;
    color: white;
    text-align: left;
}

.textMainContainer a {
    color: white;

}

@media only screen and (max-width: 500px) {
    .textMainContainer {
        padding: 25px 45px;
    }
}