.teamDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.teamDiv img {
    height: 300px;
    width: auto;
}

.spanChn {
    color: white;
    font: 400 20px Poppins, sans-serif;
    margin-bottom: 12px;
}

.styleIcons {
    border: none;
    background-color: transparent;
    color: #66d3b6;
    outline: none;
    font-size: 35px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 35px 5px;
}

.styleIcons:focus {
    outline: none;
}

.subStyleIcons {
    margin: 10px 5px;
}

.subStyleIcons a {
    padding: 20px 10px;
}

.hrefDesign {
    text-decoration: none;
    margin: 5px 15px;
}


.hrefDesign i {
    font-size: 48px;
    color: white;
}

.hrefDesign i:hover {
    color: #8c52ff;
}

.btnCustom {
    padding: 25px 35px;
    border-radius: 100px;
    text-align: center;
    font: Poppins, sans-serif;
    font-weight: 700;
    background-color: #8c52ff;
    border: none;

}

.btnCustom:hover {
    transition-delay: 250ms;
    transform: scale(1.1, 1.1);
}

.iconsTops {
    margin-top: 24px;
}

@media only screen and (max-width:700px) {
    .teamDiv {
        margin-top: 30px;
    }

    .teamDiv img {
        height: 100px;
        width: auto;
    }

    .btnCustom {
        padding: 15px 25px;
    }

    .hrefDesign i {
        font-size: 35px;
    }

    .styleIcons {
        margin: 15px 5px;
        margin-top: 25px;
    }

    .subStyleIcons {
        margin: 5px 3px;
    }

    .subStyleIcons a {
        padding: 10px 5px;
    }

    .iconsTops {
        margin-top: 5px;
    }
}